> Projeto Desenvolve <br>
Programa√ß√£o Intermedi√°ria com Python <br>
Profa. Camila Laranjeira (mila@projetodesenvolve.com.br) <br>

# SQLAlchemy üßô

No [principal tutorial do SQLAlchemy](https://docs.sqlalchemy.org/en/20/tutorial/index.html) s√£o apresentados os dois principais elementos do toolkit:
* **SQLAlchemy Core**: Ferramentas para conex√£o e intera√ß√£o com bancos de dados atrav√©s de iunstru√ß√µes SQL.
* **SQLAlchemy ORM**: Mapeamento objeto-relacional. √â uma extens√£o do Core,  abstraindo os esquemas e intera√ß√µes com o banco de dados com o paradigma de orienta√ß√£o a objetos.

## SQLAlchemy Core

### Estabelecendo uma conex√£o
Para estabelecer uma conex√£o com um banco de dados usando SQLAlchemy, alimentamos o m√©todo `create_engine` com uma URL que segue uma estrutura espec√≠fica. [Na documenta√ß√£o](https://docs.sqlalchemy.org/en/20/core/engines.html#database-urls) voc√™ v√™ em detalhes a anatomia dessa URL, tamb√©m apresentada a seguir:
```python
create_engine("<dialect>+<driver>://<hostname>/<database>")
```

* `dialect`: dialeto de comunica√ß√£o. Essencialmente, qual banco ser√° utilizado (sqlite, mysql, postgres, etc.).
* `driver`: API de comunica√ß√£o desejada.
* `hostname`: Endere√ßo de conex√£o (veja a seguir sua estrutura)
* `database`: Nome ou caminho para o banco de dados

**SQLite** <br>
Usando o driver nativo do sqlite no Python (m√≥dulo `sqlite3`), a URL de cria√ß√£o da conex√£o √©:
```python
# engine = create_engine("sqlite+pysqlite://<nohostname>/<database>")
engine = create_engine("sqlite+pysqlite:///<relative_path>")
```

**MySQL** <br>
O pacote `mysqlclient` do Python prov√™ o driver `mysqldb` suportado pelo sqlalchemy. Basta instalar:
```bash
$ pip install mysqlclient
```

Uma vez instalado o cliente Python do MySQL, voc√™ pode iniciar uma nova conex√£o.
```python
# mysqlclient (a maintained fork of MySQL-Python)
engine = create_engine("mysql+mysqldb://username:password@host:port/database")
```

In [ ]:
from sqlalchemy import create_engine, URL
from sqlalchemy import text

engine = create_engine("sqlite+pysqlite:///pizza_app.sqlite", echo=True)
# engine = create_engine("mysql+mysqldb://root:12345678@localhost/pizza_app")

### usando URLs
# url_object = URL.create(
#     "dialect+driver",
#     username="username",
#     password="password",
#     host="host",
#     database="database",
# )

# engine = create_engine(url_object)

### Transa√ß√µes

 Existem duas abordagens para gerenciar [transa√ß√µes](https://docs.sqlalchemy.org/en/20/tutorial/dbapi_transactions.html#working-with-transactions-and-the-dbapi).

 Na abordagem "*commit as you go*", usamos o m√©todo `engine.connect()`, que retorna o objeto da conex√£o `conn`, e precisamos chamar explicitamente `conn.commit()` ao final de cada transa√ß√£o.

In [ ]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )

Na abordagem "*begin once*", utilizamos o m√©todo `engine.begin()` para criar um contexto (`with`) que, se a transa√ß√£o for bem-sucedida, executa`commit()` automaticamente; caso contr√°rio, executa rollback se uma exce√ß√£o for lan√ßada.

In [ ]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )
    # t√° impl√≠cito o commit ao final do contexto with

### Comandos de leitura

Chamadas a `conn.execute()` retornam um objeto `Cursor`, semelhante ao que aprendemos com os m√≥dulos sqlite e mysql-connector. Podemos invocar m√©todos de leitura, como `fetchall`, para recuperar os elementos da consulta. No contexto do SQLAlchemy, cada registro √© um objeto do tipo `Row`, cujos elementos podem ser acessado por nome, por √≠ndice ou diretamente do cursor atrav√©s do m√©todo `cursor.mappings()`.

In [ ]:
with engine.connect() as conn:
    cursor = conn.execute(
        text("SELECT x, y FROM some_table WHERE y > :y"),
        {"y": 2}
    )

    result = cursor.fetchall()
    print(result, type(result[0]), '\n')

    print('Acesso nomeado e indexado')
    for row in result:
        print(f"row.x: {row.x}\t row.y: {row.y}")
        print(f"row[0]: {row[0]}\t row[1]: {row[1]}\n")

    print('Acesso via cursor.mappings()')
    for dict_row in cursor.mappings():
        print(f"x: {dict_row['x']}, y: {dict_row['y']}")

### Dropando a tabela exemplo...

In [ ]:
with engine.begin() as conn:
    cursor = conn.execute(text("DROP TABLE some_table"))

## SQLAlchemy ORM (Mapeamento Objeto-Relacional)

```
     +-----------------+                  +-------------------+
     |                 |                  |                   |
     |   Aplica√ß√£o     |  <--- ORM --->   |   Banco de Dados  |
     |                 |                  |                   |
     +-----------------+                  +-------------------+
            |                                       |
            |    +-----------------------------+    |
            +--->|  Classe    <-> Tabela       |<---+
                 |  Inst√¢ncia <-> Registro     |
                 |  M√©todos   <-> SQL Queries  |
                 +-----------------------------+
```


Estruturalmente a Orienta√ß√£o a Objetos √© muito diferente do armazenamento de dado em bancos relacionais, com direito at√© a uma [p√°gina no Wikip√©dia sobre essa incompatibilidade](https://en.wikipedia.org/wiki/Object%E2%80%93relational_impedance_mismatch). Com o prop√≥sito de reduzir esse distanciamento, cria-se o conceito de ORM, um m√≥dulo respons√°vel por abstrair os dados e as opera√ß√µes de bancos de dados, criando uma interface de comunica√ß√£o entre a linguagem de programa√ß√£o e o banco. Nessa estrutura temos:
* Classes representando tabelas e suas rela√ß√µes
* Inst√¢ncia de classe representado um registro (uma linha da tabela)
* M√©todos abstraindo queries SQL.

Uma das principais vantagens dessa estrutura √© a abstra√ß√£o da linguagem de banco, o que aumenta o encapsulamento. Quem desenvolve n√£o precisa nem saber (nem se preocupar com) a linguagem espec√≠fica SQL utilizada, j√° que o ORM permite se conectar com diferentes bancos, mantendo as sintaxes de modelagem de dados e queries SQL.

O c√≥digo a seguir √© um exemplo de modelagem das tabelas em Pizza Query usando o paradigma orientado a objetos.

> O SQLAlchemy, a partir da vers√£o 2.0, adotou as anota√ß√µes de tipo nativas do Python. Atrav√©s da classe `Mapped`, os tipos nativos s√£o mapeados para tipos correspondentes no banco de dados. Tamb√©m podemos customizar tais mapeamentos, basta para isso criar uma anota√ß√£o customizada com `Annotated` e preencher o atributo `type_annotation_map` da classe `Base`.

In [ ]:
from typing import Optional, Annotated
from datetime import date

from sqlalchemy import (
    ForeignKey, String,
    create_engine,
    select, update, delete, insert,
    func, asc, desc
)
from sqlalchemy.orm import (
    DeclarativeBase,
    Mapped, mapped_column, relationship,
    Session
)

# Objeto anota√ß√£o com adi√ß√£o de metadados
str50 = Annotated[str, 50]
str2  = Annotated[str, 2]

class Base(DeclarativeBase):
    """A classe Base ser√° a m√£e de todas as classes da modelagem.

    Aqui podemos especificar diversos atributos e comportamentos,
    por exemplo definindo tipos especializados que se repetem muito
    dentre os atributos.
    Documenta√ß√£o: https://docs.sqlalchemy.org/en/20/orm/declarative_styles.html
    """
    type_annotation_map = {
        str50: String(50),
        str2:  String(2),
    }
    # caso n√£o queira especificar nada aqui, a classe pode estar vazia
    # pass


class Produto(Base):
    __tablename__ = 'produto'

    id_produto: Mapped[int]   = mapped_column(primary_key=True)
    tipo: Mapped[str50]       = mapped_column(nullable=False, default='ingrediente')
    desc_item: Mapped[str50]  = mapped_column(nullable=False)
    vl_preco: Mapped[float]    = mapped_column(nullable=False)

    # Rela√ß√£o com Produto atrav√©s de item_pedido
    # pedidos: Mapped[list['Pedido']] = relationship(secondary='item_pedido', back_populates='produtos')

class Pedido(Base):
    __tablename__ = 'pedido'
    id_pedido: Mapped[int]  = mapped_column(primary_key=True)
    dt_pedido: Mapped[date] = mapped_column(nullable=False)
    desc_uf:   Mapped[str2] = mapped_column(nullable=False)
    fl_ketchup: Mapped[Optional[bool]]
    txt_recado: Mapped[Optional[str50]]

    # Rela√ß√£o com Produto atrav√©s de item_pedido
    # produtos: Mapped[list[Produto]] = relationship(secondary='item_pedido', back_populates='pedidos')

# Tabela associativa item_pedido
class ItemPedido(Base):
    __tablename__ = 'item_pedido'

    id_pedido:  Mapped[int] = mapped_column(ForeignKey('pedido.id_pedido'), primary_key=True)
    id_produto: Mapped[int] = mapped_column(ForeignKey('produto.id_produto'), primary_key=True)
    quantidade: Mapped[int] = mapped_column(nullable=False)

### Criando tabelas
Para efetivar a cria√ß√£o da modelagem acima no nosso banco de dados, precisamos acessar o atributo `metadata` da classe `Base`. Como definido [no gloss√°rio](https://docs.sqlalchemy.org/en/20/glossary.html#term-database-metadata) do SQLAlchemy:
> No SQLAlchemy, o termo "metadados" se refere √† constru√ß√£o `MetaData`, que √© uma cole√ß√£o de informa√ß√µes sobre tabelas, colunas, restri√ß√µes e outros objetos DDL que podem existir em um banco de dados. O termo `metadata` se refere de forma geral a "dados que descrevem dados"; dados que representam o formato e/ou estrutura de algum outro tipo de dados.

In [ ]:
engine = create_engine("sqlite+pysqlite:///pizza_app.sqlite", echo=True)
Base.metadata.create_all(engine)

2024-07-06 18:56:55,679 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-07-06 18:56:55,686 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("item_pedido")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("item_pedido")

2024-07-06 18:56:55,690 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-07-06 18:56:55,697 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("item_pedido")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("item_pedido")

2024-07-06 18:56:55,701 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-07-06 18:56:55,704 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("produto")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("produto")

2024-07-06 18:56:55,708 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-07-06 18:56:55,712 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("produto")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("produto")

2024-07-06 18:56:55,716 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-07-06 18:56:55,720 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pedido")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("pedido")

2024-07-06 18:56:55,727 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-07-06 18:56:55,729 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pedido")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("pedido")

2024-07-06 18:56:55,734 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-07-06 18:56:55,737 INFO sqlalchemy.engine.Engine
CREATE TABLE produto (
	id_produto INTEGER NOT NULL,
	tipo VARCHAR(50) NOT NULL,
	desc_item VARCHAR(50) NOT NULL,
	vl_preco FLOAT NOT NULL,
	PRIMARY KEY (id_produto)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE produto (
	id_produto INTEGER NOT NULL,
	tipo VARCHAR(50) NOT NULL,
	desc_item VARCHAR(50) NOT NULL,
	vl_preco FLOAT NOT NULL,
	PRIMARY KEY (id_produto)
)

2024-07-06 18:56:55,740 INFO sqlalchemy.engine.Engine [no key 0.00215s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00215s] ()

2024-07-06 18:56:55,772 INFO sqlalchemy.engine.Engine
CREATE TABLE pedido (
	id_pedido INTEGER NOT NULL,
	dt_pedido DATE NOT NULL,
	desc_uf VARCHAR(2) NOT NULL,
	fl_ketchup BOOLEAN,
	txt_recado VARCHAR(50),
	PRIMARY KEY (id_pedido)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE pedido (
	id_pedido INTEGER NOT NULL,
	dt_pedido DATE NOT NULL,
	desc_uf VARCHAR(2) NOT NULL,
	fl_ketchup BOOLEAN,
	txt_recado VARCHAR(50),
	PRIMARY KEY (id_pedido)
)

2024-07-06 18:56:55,774 INFO sqlalchemy.engine.Engine [no key 0.00266s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00266s] ()

2024-07-06 18:56:55,787 INFO sqlalchemy.engine.Engine
CREATE TABLE item_pedido (
	id_pedido INTEGER NOT NULL,
	id_produto INTEGER NOT NULL,
	quantidade INTEGER NOT NULL,
	PRIMARY KEY (id_pedido, id_produto),
	FOREIGN KEY(id_pedido) REFERENCES pedido (id_pedido),
	FOREIGN KEY(id_produto) REFERENCES produto (id_produto)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE item_pedido (
	id_pedido INTEGER NOT NULL,
	id_produto INTEGER NOT NULL,
	quantidade INTEGER NOT NULL,
	PRIMARY KEY (id_pedido, id_produto),
	FOREIGN KEY(id_pedido) REFERENCES pedido (id_pedido),
	FOREIGN KEY(id_produto) REFERENCES produto (id_produto)
)

2024-07-06 18:56:55,793 INFO sqlalchemy.engine.Engine [no key 0.00604s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00604s] ()

2024-07-06 18:56:55,808 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

### Populando

J√° vimos em aulas anteriores o m√©todo `.to_sql()` do Pandas o carregamento de dados usando o m√≥dulo `sqlite3`. Este m√©todo tamb√©m suporta engines do SQLALchemy de quaisquer bancos suportados por ele (MySQL, Postgres, Oracle, etc.). Nas c√©lulas a seguir vamos carregar os dados Pizza Query exatamente da mesma forma que fizemos nas aulas anteriores. Mas ao usar a engine do SQLALchemy, trazemos com ela todo o seu poder de valida√ß√£o de dados e capacidade de abstra√ß√£o da orienta√ß√£o a objetos.

In [ ]:
! wget https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/pizza_query/item_pedido.csv
! wget https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/pizza_query/pedido.csv
! wget https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/pizza_query/produto.csv

In [ ]:
import pandas as pd

for table in ['pedido', 'produto', 'item_pedido']:
    df = pd.read_csv(f'{table}.csv')
    print(table, df.shape)
    display(df.head())
    df.to_sql(table, engine, if_exists='append', index=False)

pedido (1106, 5)

   id_pedido   dt_pedido fl_ketchup desc_uf                  txt_recado
0          0  2023-05-11        NaN      GO                         NaN
1          1  2023-05-11        NaN      PR  Aquela pizza perfeita! :-D
2          2  2023-05-11        NaN      SP            Muito obrigado!!
3          3  2023-05-11        NaN      SP                         NaN
4          4  2023-05-11        NaN      RS        Capricha no peperoni

2024-07-06 18:57:14,146 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-07-06 18:57:14,155 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pedido")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("pedido")

2024-07-06 18:57:14,160 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-07-06 18:57:14,177 INFO sqlalchemy.engine.Engine INSERT INTO pedido (id_pedido, dt_pedido, fl_ketchup, desc_uf, txt_recado) VALUES (?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO pedido (id_pedido, dt_pedido, fl_ketchup, desc_uf, txt_recado) VALUES (?, ?, ?, ?, ?)

2024-07-06 18:57:14,182 INFO sqlalchemy.engine.Engine [generated in 0.01005s] [(0, '2023-05-11', None, 'GO', None), (1, '2023-05-11', None, 'PR', 'Aquela pizza perfeita! :-D'), (2, '2023-05-11', None, 'SP', 'Muito obrigado!!'), (3, '2023-05-11', None, 'SP', None), (4, '2023-05-11', None, 'RS', 'Capricha no peperoni'), (5, '2023-05-11', None, 'SP', None), (6, '2023-05-11', None, 'CE', 'Espero que n√£o dropem minha pizza ^^'), (7, '2023-05-11', None, 'SP', 'Forno a lenha por favor.')  ... displaying 10 of 1106 total bound parameter sets ...  (1104, '2023-05-25', 1, 'SP', None), (1105, '2023-05-25', 0, 'SP', 'Favor deixar a massa crocante e lave as m√£os.')]

INFO:sqlalchemy.engine.Engine:[generated in 0.01005s] [(0, '2023-05-11', None, 'GO', None), (1, '2023-05-11', None, 'PR', 'Aquela pizza perfeita! :-D'), (2, '2023-05-11', None, 'SP', 'Muito obrigado!!'), (3, '2023-05-11', None, 'SP', None), (4, '2023-05-11', None, 'RS', 'Capricha no peperoni'), (5, '2023-05-11', None, 'SP', None), (6, '2023-05-11', None, 'CE', 'Espero que n√£o dropem minha pizza ^^'), (7, '2023-05-11', None, 'SP', 'Forno a lenha por favor.')  ... displaying 10 of 1106 total bound parameter sets ...  (1104, '2023-05-25', 1, 'SP', None), (1105, '2023-05-25', 0, 'SP', 'Favor deixar a massa crocante e lave as m√£os.')]

2024-07-06 18:57:14,192 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

produto (85, 4)

   id_produto         tipo  desc_item  vl_preco
0           0  ingrediente    abacate      5.25
1           1  ingrediente    abacaxi      2.50
2           2  ingrediente  abobrinha      2.00
3           3  ingrediente  alcaparra      3.00
4           4  ingrediente       alho      1.00

2024-07-06 18:57:14,226 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-07-06 18:57:14,232 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("produto")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("produto")

2024-07-06 18:57:14,237 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-07-06 18:57:14,243 INFO sqlalchemy.engine.Engine INSERT INTO produto (id_produto, tipo, desc_item, vl_preco) VALUES (?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO produto (id_produto, tipo, desc_item, vl_preco) VALUES (?, ?, ?, ?)

2024-07-06 18:57:14,246 INFO sqlalchemy.engine.Engine [generated in 0.00397s] [(0, 'ingrediente', 'abacate', 5.25), (1, 'ingrediente', 'abacaxi', 2.5), (2, 'ingrediente', 'abobrinha', 2.0), (3, 'ingrediente', 'alcaparra', 3.0), (4, 'ingrediente', 'alho', 1.0), (5, 'ingrediente', 'alho-por√≥', 2.5), (6, 'ingrediente', 'am√™ndoas', 3.5), (7, 'ingrediente', 'anchova', 4.0)  ... displaying 10 of 85 total bound parameter sets ...  (83, 'bebida', 'vinho tinto', 12.0), (84, 'bebida', '√°gua com g√°s', 5.0)]

INFO:sqlalchemy.engine.Engine:[generated in 0.00397s] [(0, 'ingrediente', 'abacate', 5.25), (1, 'ingrediente', 'abacaxi', 2.5), (2, 'ingrediente', 'abobrinha', 2.0), (3, 'ingrediente', 'alcaparra', 3.0), (4, 'ingrediente', 'alho', 1.0), (5, 'ingrediente', 'alho-por√≥', 2.5), (6, 'ingrediente', 'am√™ndoas', 3.5), (7, 'ingrediente', 'anchova', 4.0)  ... displaying 10 of 85 total bound parameter sets ...  (83, 'bebida', 'vinho tinto', 12.0), (84, 'bebida', '√°gua com g√°s', 5.0)]

2024-07-06 18:57:14,250 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

item_pedido (10399, 3)

   id_pedido  id_produto  quantidade
0          0          70           1
1          0          15           1
2          0          53           3
3          0          49           3
4          0          34           1

2024-07-06 18:57:14,290 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-07-06 18:57:14,298 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("item_pedido")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("item_pedido")

2024-07-06 18:57:14,302 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-07-06 18:57:14,434 INFO sqlalchemy.engine.Engine INSERT INTO item_pedido (id_pedido, id_produto, quantidade) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO item_pedido (id_pedido, id_produto, quantidade) VALUES (?, ?, ?)

2024-07-06 18:57:14,438 INFO sqlalchemy.engine.Engine [generated in 0.03127s] [(0, 70, 1), (0, 15, 1), (0, 53, 3), (0, 49, 3), (0, 34, 1), (0, 17, 3), (0, 12, 2), (0, 41, 3)  ... displaying 10 of 10399 total bound parameter sets ...  (1105, 47, 1), (1105, 52, 3)]

INFO:sqlalchemy.engine.Engine:[generated in 0.03127s] [(0, 70, 1), (0, 15, 1), (0, 53, 3), (0, 49, 3), (0, 34, 1), (0, 17, 3), (0, 12, 2), (0, 41, 3)  ... displaying 10 of 10399 total bound parameter sets ...  (1105, 47, 1), (1105, 52, 3)]

2024-07-06 18:57:14,468 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

### Session

Para interagir com o banco de dados iniciamos um objeto `Session`, que ser√° nosso intermedi√°rio para inser√ß√µes, consultas, etc.


* `__init__(<engine>)`: Inicia uma nova sess√£o da conex√£o fornecida pelo par√¢metro `engine`. Invocada atrav√©s de `Session(<engine>)`.

Algumas fun√ß√µes que alteram o estado do banco e ficam pendentes na se√ß√£o para serem concretizadas (ou n√£o) ap√≥s um commit.
* `add(<obj>)`: Adiciona um objeto √† sess√£o para ser persistido no banco de dados.
* `add_all(Iterable[<obj>])`: Adiciona a cole√ß√£o de objetos √† sess√£o para ser persistido no banco de dados.
* `delete(<obj>)`: Marca uma inst√¢ncia como deletada.

Fun√ß√µes que alteram o estado da transa√ß√£o:
* `flush()`: Libera todas as altera√ß√µes do objeto no banco de dados (INSERTs, DELETEs, UPDATEs, etc.).
* `commit()`: Libera as altera√ß√µes pendentes e confirma a transa√ß√£o atual. Ap√≥s ser conclu√≠da, **o conte√∫do dos objetos √© apagado**.
* `rollback()`: Reverte a transa√ß√£o atual em andamento.

Para encerrar a se√ß√£o:
* `close()`: Encerra a sess√£o. √â invocado automaticamente quando a sess√£o √© aberta em uma estrutura de contexto `with`.

In [ ]:
session = Session(engine)

bebida = Produto(
    tipo='bebida',
    desc_item='xeque-mate',
    vl_preco=7.99
)
session.add(bebida)
session.commit()

session.delete(bebida)
session.commit()

session.close()

2024-07-03 22:50:13,893 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-07-03 22:50:13,901 INFO sqlalchemy.engine.Engine INSERT INTO produto (tipo, desc_item, vl_preco) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO produto (tipo, desc_item, vl_preco) VALUES (?, ?, ?)

2024-07-03 22:50:13,906 INFO sqlalchemy.engine.Engine [generated in 0.00572s] ('bebida', 'xeque-mate', 7.99)

INFO:sqlalchemy.engine.Engine:[generated in 0.00572s] ('bebida', 'xeque-mate', 7.99)

2024-07-03 22:50:13,911 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-07-03 22:50:13,923 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-07-03 22:50:13,930 INFO sqlalchemy.engine.Engine SELECT produto.id_produto AS produto_id_produto, produto.tipo AS produto_tipo, produto.desc_item AS produto_desc_item, produto.vl_preco AS produto_vl_preco
FROM produto
WHERE produto.id_produto = ?

INFO:sqlalchemy.engine.Engine:SELECT produto.id_produto AS produto_id_produto, produto.tipo AS produto_tipo, produto.desc_item AS produto_desc_item, produto.vl_preco AS produto_vl_preco
FROM produto
WHERE produto.id_produto = ?

2024-07-03 22:50:13,934 INFO sqlalchemy.engine.Engine [generated in 0.00385s] (85,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00385s] (85,)

2024-07-03 22:50:13,939 INFO sqlalchemy.engine.Engine DELETE FROM produto WHERE produto.id_produto = ?

INFO:sqlalchemy.engine.Engine:DELETE FROM produto WHERE produto.id_produto = ?

2024-07-03 22:50:13,942 INFO sqlalchemy.engine.Engine [generated in 0.00338s] (85,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00338s] (85,)

2024-07-03 22:50:13,946 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

### Queries
Documenta√ß√£o: https://docs.sqlalchemy.org/en/20/core/selectable.html#sqlalchemy.sql.expression.Select<br>
Tutorial: https://docs.sqlalchemy.org/en/20/orm/queryguide/index.html

#### `session.execute()`
Para executar as instru√ß√µes SQL que conheceremos a partir de agora podemos usar o m√©todo de sess√£o `execute()`, que recebe um objeto `statement` do SQLAlchemy. Ao capturar o resultado da execu√ß√£o, atrav√©s de m√©todos como `.all()` ou `.first()`, retorna uma cole√ß√£o de objetos `Row`.

```python
res = session.execute(query).all()
for row in res: print(row.Produto.desc_item)
```

#### `session.scalars()`
O uso e os par√¢metros s√£o iguais aos de `Session.execute()`, mas o retorno √© √© uma cole√ß√£o de elementos √∫nicos em vez de objetos `Row`.

```python
res = session.scalars(query).all()
for prod in res: print(prod.desc_item)
```

#### SELECT

```python
# Seleciona todos os campos de todos os registros da tabela Produto
query = select(Produto)
# Seleciona apenas o atributo desc_item de todos os registros
# da tabela Produto
query = select(Produto.name)
```

Podemos incrementar nosso SELECT atrav√©s de seus m√©todos, tais como:
* `where()`: Define as condi√ß√µes da cl√°usula `WHERE`.
```python
session.scalars(select(Produto).where(Produto.vl_preco < 10))
```
* `order_by()`: Define a cl√°usula `ORDER BY`
```python
session.scalars(select(Produto).order_by(Produto.vl_preco))
```
* `limit()`: Limita a quantidade de elementos retornados
```python
session.scalars(select(Produto).limit(5))
```
* `join()`: cria um JOIN de acordo com o crit√©rio do Select e retorna o Select resultante. Nesse caso faz sentido consumir objetos do tipo `Row`, que vai comportar de maneira organizada o registro das diferentes tabelas.
```python
query = select(Pedido.desc_uf, Produto.desc_item)\
    .join(ItemPedido, Pedido.id_pedido == ItemPedido.id_pedido)\
    .join(Produto, ItemPedido.id_produto == Produto.id_produto)\
    .filter(Pedido.dt_pedido >= date(2024, 1, 1))
res = session.execute(query).all()
for row in res:
    print(row.Pedido.dtPedido, row.Produto.desc_item)
```


**Agrega√ß√µes** <br>
O SQLAlchemy possui os m√≥dulos e m√©todos para auxliar agrega√ß√µes e ordena√ß√µes.
* [`func`](https://docs.sqlalchemy.org/en/20/core/sqlelement.html#sqlalchemy.sql.expression.func): Auxiliar do GROUP BY, contendo fun√ß√µes SQL como `count`, `max`, etc.
* [`asc`](https://docs.sqlalchemy.org/en/20/core/sqlelement.html#sqlalchemy.sql.expression.asc) e [`desc`](https://docs.sqlalchemy.org/en/20/core/sqlelement.html#sqlalchemy.sql.expression.desc): auxiliares do ORDER BY, respectivamente ascendente e descendente.

```python
from sqlalchemy import func, desc
query = select(Produto.tipo, func.count(Produto.id_produto).label("count"))\
        .group_by(Produto.tipo)\
        .order_by(desc(Produto.tipo))
res = session.execute(query).all()
print(res)
```

### Alguns exemplos
A seguir temos algumas queries exemplo para exercitar o que aprendemos sobre o select.

#### Ex.1
No primeiro exemplo fazemos um select simples de todos os dados da tabela Produto. passando a instru√ß√£o para um comando `print` conseguimos ver o SQL "traduzido" para o dilaleto do banco que estamos utilizando.

Em seguida executamos a query com o `session.scalars` e recuperamos apenas o primeiro resultado da consulta com `.first()`. O resultado √© um objeto do tipo `Produto`, por isso podemos acessar diretamente seus atributos. Se tiv√©ssemos executado com `session.execute` seria um objeto tipo `Row`.

In [ ]:
engine.echo = False
query = select(Produto)
print(query)

cursor = session.scalars(query)
produto = cursor.first()
print(produto.id_produto, produto.tipo, produto.desc_item, produto.vl_preco)

SELECT produto.id_produto, produto.tipo, produto.desc_item, produto.vl_preco
FROM produto
0 ingrediente abacate 5.25

#### Ex. 2
O segundo exemplo √© um comando um pouco mais completo, adicionando `GROUP BY` e `ORDER BY`. Note que usamos tamb√©m os auxiliares `func` e `desc` para complementar a agrega√ß√£o e ordena√ß√£o desejada.

O objeto retornado pelo `session.execute` tem exatamente os mesmos atributos nomeados que selecionamos na query.
```python
select(Produto.tipo, func.count(Produto.id_produto).label("count"))
...
for row in res: print(row.tipo, row.count)
```

In [ ]:
query = select(Produto.tipo, func.count(Produto.id_produto).label("count"))\
        .group_by(Produto.tipo)\
        .order_by(desc(Produto.tipo))
print(query)

res = session.execute(query).all()
for row in res:
    print(row.tipo, row.count)

SELECT produto.tipo, count(produto.id_produto) AS count
FROM produto GROUP BY produto.tipo ORDER BY produto.tipo DESC
('tipo', 'count')

#### Ex. 3
Neste exemplo, a consulta representa a soma dos valores totais que cada estado pediu no dia 13/05/2023. Para isso, precisamos unir as tr√™s tabelas com o `join`.

In [ ]:
query = select(Pedido.desc_uf, func.sum(Produto.vl_preco).label('soma_total'))\
        .join(ItemPedido, Pedido.id_pedido == ItemPedido.id_pedido)\
        .join(Produto, ItemPedido.id_produto == Produto.id_produto)\
        .where(Pedido.dt_pedido == date(2023, 5, 13))\
        .group_by(Pedido.desc_uf)
print(query)

res = session.execute(query).all()
for row in res:
    print(row.desc_uf, row.soma_total)

SELECT pedido.desc_uf, sum(produto.vl_preco) AS soma_total
FROM pedido JOIN item_pedido ON pedido.id_pedido = item_pedido.id_pedido JOIN produto ON item_pedido.id_produto = produto.id_produto
WHERE pedido.dt_pedido = :dt_pedido_1 GROUP BY pedido.desc_uf
CE 238.2
DF 50.25
ES 84.2
GO 118.95
MG 182.7
MT 43.5
PE 34.5
PI 35.5
PR 94.45
RJ 299.1
RN 98.2
RS 42.95
SP 611.4

### Outras opera√ß√µes

Como esse m√≥dulo √© sobre ci√™ncia de dados, os exerc√≠cios em grande parte v√£o exigir apenas consumir bases de dados para realizar an√°lises (o SELECT ser√° nosso grande aliado). Mas, voc√™ j√° sabe SQL e j√° sabe consultar documenta√ß√µes, ent√£o **caso precise**, consulte a [documenta√ß√£o detalhada do SQLAlchemy](https://docs.sqlalchemy.org/en/20/orm/queryguide/index.html) sobre outras instru√ß√µes como INSERT, UPDATE, DELETE, al√©m de outras varia√ß√µes de SELECT.

In [ ]:
session.close()